.workspace-active,
.workspace-inactive {
	margin-left: 3px;
	margin-right: 3px;
}

.workspace-active {
	color: rgba(224, 224, 224, 1);
	/* color: rgb(161, 39, 39); */
}

.workspace-inactive {
	color: rgba(156, 156, 156, 0.25);
}

.workspace-inactive.workspace-filled {
	color: rgba(156, 156, 156, 0.75);
}

.workspace-active.workspace-has-focus,
.workspace-inactive.workspace-has-focus {
	color: rgba(143, 24, 24, 1);
}

.popup-menu-window-focused,
.popup-menu-window-focused:hover,
.popup-menu-window-focused:focus,
.popup-menu-window-focused:target {
	background: none;
}