.workspace-active, .workspace-inactive {
	margin-left: 3px;
	margin-right: 3px;
}

.workspace-active {
	color: rgba(204, 204, 204, 1);
}

.workspace-inactive {
	color: rgba(156, 156, 156, 0.2);
}

.workspace-inactive.workspace-full {
	color: rgba(156, 156, 156, 0.5);
}

